.page_calendrier{
  text-align: center;
}

.page_calendrier .section label{
    display: inline-block;
    margin-right: 10px;
    height: 30px;
}

.page_calendrier .section label h3{
    margin : 0;
}

.react-calendar{
  margin: auto;
}



/* jsp pourquoi c'est là ça */
/*
.page_calendrier svg{
    color : #dda919;
    height: 70px;
    width: 70px;
    margin: 5px;
    border: 1px solid;
}

.page_calendrier .iconlist p {
    padding-top: 80px;
    display: inline-block;
}

.page_calendrier .iconlist{
    display: inline-block;
    width: 20vW;
    height: 20vW;
    border-radius: 10px;
    margin: 2vh;
}

.page_calendrier .liste_paletteTheme {
    margin: auto;
    text-align: center;
}
*/
