.page.page_connexion{
    text-align: left;
}


/* Titre de la page */
.page_connexion .section.title {
    text-align: center;
}

.page_connexion .section.title h2{
    margin : 10px;
}

/* Section du formulaire de connexion */

/* Subsections formulaire */

.page_connexion .subSection{
    min-height: 30px;
}

.page_connexion .subSection label{
    display: inline-block;
    margin-right: 10px;
    height: 30px;
}

.page_connexion .subSection label h3{
    margin : 0;
}

.page_connexion .subSection input{
    position: absolute;
    right: 0;
    background: inherit;
    border: solid 2px var(--accentcolor);
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 10px;
}

.page_connexion .subSection button svg, .page_connexion .subSection button{
    height: 30px;
    width: 30px;
    color: black;
}

.page_connexion .subSection button{
    border-radius: 0;
    border: none;
    vertical-align: middle;
    background-color: inherit;
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.page_connexion .subSection button{
    cursor: pointer;
}

.page_connexion .subSection.link a{
  color : black;
  font-weight: bold;
}
