
.page.home{
  background-color: var(--backgroundcolor);
  text-align: center;
  padding: 10px;
  /*120 : taille du menu de nav*/
  padding-bottom: 120px;
  box-sizing: border-box;
}

.themeHome, .paletteHome{
  height: auto;
  min-height: 30px;
  width: 90%;
  background-color: var(--sectioncolor);
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  display: block;
  position: relative;
  text-align: left;
}

.themeHome h3, .paletteHome h3{
  display: inline-block;
  font-weight: bold;
  margin: 10px;
}

.themeHome p{
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 20px;
}

.palette {
  margin: auto;
  text-align: center;
}

.colorPalette{
  display: inline-block;
  width:10vW;
  height: 40vW;
  /*todo colour en fonction de la palette*/
  border-radius: 10px;
  border: 1px solid;
}

.colorPalette p{
  padding-top: 42vW;
  display: inline-block;
  font-size: 11px;
}

.btnAddToFav{
  display: inline-block;
  right: 3%;
  position: absolute;
  background-color: inherit;
  border: none;
  height: 40px;
  width: 40px;
}

.btnAddToFav svg{
  height: 100%;
  width: 100%;
  color : var(--accentcolor);
}

.btnGetRandomArt{
  background-color: var(--sectioncolor);
  border: 3px solid #7d4193;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  margin: 20px 0;
  padding: 20px;
  color: black;
}
