.page.page_inscription{
  text-align: left;
}

.page_inscription .subSection{
  min-height: 0;
  margin : 15px;
}

.page_inscription .subSection label{
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}

.page_inscription .subSection label h3{
  margin : 0;
}


.page_inscription .subSection input{
  position: absolute;
  right: 0;
  background: inherit;
  border: solid 2px var(--accentcolor);
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

.page_inscription .subSection button svg, .page_inscription .subSection button{
  height: 40px;
  width: 40px;
}

.page_inscription .subSection button{

  border-radius: 0;
  border: none;
  padding: 0;
  vertical-align: middle;
  background-color: inherit;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.page_inscription .subSection button{
  cursor: pointer;
}


.page_inscription .section.title {
  text-align: center;
}

.page_inscription .section.title h2{
  margin : 10px;
}


.page_inscription .subSection img{
  margin: 5%;
  max-width: 90%;
}


.page_inscription .subSection .label-file {
    cursor: pointer;
    border: solid 2px var(--accentcolor);
    border-radius: 5px;
    background-color: var(--sectioncolor);
    display:inline-block;

}

.page_inscription .subSection .label-file p{
  padding: 5px;
  margin: 0;

}

.page_inscription .subSection #file-input {
    display: none;
}
