.page.page_inscription{
  background-color: #e6d9ff;
  text-align: left;
  padding: 10px;
  /*120 : taille du menu de nav*/
  padding-bottom: 120px;
  box-sizing: border-box;
  height: 100vh;
}

.page_inscription .section{
  height: auto;
  min-height: 30px;
  width: 90%;
  background-color: #b49fdb;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  display: block;
  position: relative;
  text-align: left;
}

.page_inscription .section label{
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}

.page_inscription .section label h3{
  margin : 0;
}

.page_inscription .section .form_section{
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.page_inscription .section input{
  background: inherit;
  border: solid 2px #4c0068;
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

.page_inscription .section button{
  height: 30px;
  width: 30px;
  border-radius: 0;
  border: none;
  padding: 0;
  vertical-align: middle;
  background-color: inherit;
}

.page_inscription .section button:hover{
  cursor: pointer;
}

.page_inscription .section button svg{
  height: 30px;
  width: 30px;
}
