.page_listes{
    background-color: var(--backgroundcolor);
    text-align: center;
    padding: 10px;
    /*120 : taille du menu de nav lol*/
    padding-bottom: 120px;
    box-sizing: border-box;
    height: 100vh;
}


.page_listes .section label{
    display: inline-block;
    margin-right: 10px;
    height: 30px;
}

.page_listes .section label h3{
    margin : 0;
}

.page_listes svg{
    color : #dda919;
    height: 70px;
    width: 70px;
    margin: 5px;
    border: 1px solid;
}

.page_listes .iconlist p {
    padding-top: 80px;
    display: inline-block;
}

.page_listes .iconlist{
    display: inline-block;
    width: 20vW;
    height: 20vW;
    /*todo colour en fonction de la palette*/
    border-radius: 10px;
    margin: 2vh;
  }

.page_listes .liste_paletteTheme {
    margin: auto;
    text-align: center;
}
