.page .page_listes{
  background-color: var(--backgroundcolor);
  text-align: center;
  padding: 10px;
  padding-bottom: 120px;
  box-sizing: border-box;
  height: 100vh;
}


.page_listes .section label{
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}

.page_listes .section label h3{
  margin : 0;
}

.page_listes svg{
  height: 70px;
  width: 70px;
  margin: 5px;
  border: 2px solid;
  border-radius: 10%;
}

.page_listes .empty {
  padding-top: 80px;
  display: inline-block;
}

.page_listes .iconlist{
  vertical-align: top;
  display: inline-block;
  width: 20vW;
  height: 26vW;
  border-radius: 10px;
  margin: 2vh;
  text-decoration: none;
  color: var(--accentcolor);
  text-align: center;
}

.page_listes .addBtn{
  display: block;
  background-color: var(--sectioncolor);
  border: 3px solid #7d4193;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  margin: 20px auto;
  padding: 20px;
  width : 50%;
  text-decoration: none;
  color : black;
}

.page_listes .iconlist p{
  margin: 0;
  height: 40px;
  width: 22vW;
  overflow: hidden;
  display: block;
  align-self: center;
}

.page_listes .liste_paletteTheme {
  margin: auto;
  text-align: center;
}


.page_listes{
  background-color: var(--backgroundcolor);
  text-align: center;
  padding: 10px;
  /*120 : taille du menu de nav*/
  padding-bottom: 120px;
  box-sizing: border-box;
}

.list_title{
  text-align: center;
}

.list_title h3{
  display: inline-block;
  font-weight: bold;
  margin: 10px;
}

.list_title .icon{
  text-align: right;
  border: none;
  position: absolute;
  top: auto;
  right: 10%;
  height: 40px;
  width: 40px;
  color: var(--accentcolor);
}

.liste_paletteTheme .container{
  background-color: var(--sectioncolor);
  padding: 1px;
  margin: 30px 0px;
  border-radius: 10px;
}

.themeListIndividuel, .paletteListIndividuel{
  height: auto;
  min-height: 30px;
  width: 90%;
  background-color: var(--backgroundcolor);
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  display: block;
  position: relative;
  text-align: left;
}

.themeListIndividuel h3, .paletteListIndividuel h3{
  display: inline-block;
  font-weight: bold;
  margin: 10px;
}

.themeListIndividuel p{
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 20px;
}

.themeListIndividuel .cross, .paletteListIndividuel .cross{
  background-color: Transparent;
  display: inline-block;
  right: 7%;
  top: auto;
  position: absolute;
  background-color: none;
  border: none;
  height: 30px;
  width: 30px;
}

.themeListIndividuel .cross .cross-icon, .paletteListIndividuel .cross .cross-icon{
  background-color: Transparent;
  display: inline-block;
  background-color: none;
  border: none;
  height: 30px;
  width: 30px;
}

.miniPalette {
  margin: auto;
  text-align: center;
}

.small{
  font-size: 12px;
}
.minicolorPaletteListe{
  display: inline-block;
  width: 14vW;
  height: 14vW;
  /*todo colour en fonction de la palette*/
}

.minicolorPaletteListe p{
  padding-top: 10vW;
  display: inline-block;
  font-size: 11px;
}

.btnRetour{
  display: inline-block;
  left: 3%;
  position: absolute;
  background-color: inherit;
  border: none;
  height: 40px;
  width: 40px;
}

.btnRetour svg, .themeListIndividuel .cross svg, .paletteListIndividuel .cross svg{
  height: 100%;
  width: 100%;
  color : var(--accentcolor);
  border:none;
}

.editdelete{
  display: flex;
}

.editdelete button, .editdelete a{
  display: block;
  background-color: var(--sectioncolor);
  border: 3px solid #7d4193;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  padding: 20px;
  width: 50%;
  text-decoration: none;
  color: black;
}

.addToList{
  background-color: transparent;
  vertical-align: top;
  display: inline-block;
  width: 20vW;
  height: 26vW;
  border-style: none;
  margin: 2vh;
  text-decoration: none;
  color: var(--accentcolor);
  text-align: center;
}