.page.page_parametre{
  text-align: left;
}

.page_parametre .subSection{
  min-height: 30px;
}

.page_parametre .section label{
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}

.page_parametre .section label h3{
  margin : 0;
}

.page_parametre .section .form_section{
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.page_parametre .section input{
  background: inherit;
  border: solid 2px var(--accentcolor);
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

.page_parametre .section button{
  height: 30px;
  width: 30px;
  border-radius: 0;
  border: none;
  padding: 0;
  vertical-align: middle;
  background-color: inherit;
}

.page_parametre .section button{
  cursor: pointer;
}

.page_parametre .section button svg{
  height: 30px;
  width: 30px;
}

.page_parametre .subSection button svg, .page_inscription .subSection button{
  height: 30px;
  width: 30px;
}

.page_parametre .subSection button{

  position: absolute;
  right: 0;
  margin-right: 15px;
}

.page_parametre .subSection input{
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.page_parametre .pdp img{
  margin: 5%;
  max-width: 90%;
}


.page_parametre .pdp .label-file {
    cursor: pointer;
    border: solid 2px var(--accentcolor);
    border-radius: 5px;
    background-color: var(--sectioncolor);
}

.page_parametre .pdp .label-file p{
  padding: 5px;
  margin: 0;

}

.page_parametre .pdp input {
    display: none;
}
