/*PROFIL*/

/*TODO :  mettre .page comme dans les autres*/

#btnFollow{
    display: inline-block;
    right: 3%;
    position: absolute;
    background-color: inherit;
    border: none;
    height: 40px;
    width: 40px;
}

#btnFollow svg{
    height: 100%;
    width: 100%;
    color : var(--accentcolor);
}

.profilContent{
    height: auto;
    min-height: 30px;
    width: 90%;
    background-color: var(--sectioncolor);
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    display: block;
    position: relative;
    text-align: left;
}

.publication{
    display: inline-block;
    width: 22vW;
    height: 22vW;
    /*todo colour en fonction de la palette*/
    margin: 1% 3%;
    border-radius: 10px;
    position: relative;
}

.publication img {
    border-radius: 10px;
    width: 22vW;
    height: 22vW;
    display: inline-block;
}

.galerie{
    display: inline-block;
    text-align: center;
}

.page_profil{
    text-align: center;
}

.profilHead {
    text-align: center;
}

.profilHead img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    left: 3%;
    display: inline-block;
    position: absolute;
    border: solid 0.3vh rgb(51, 9, 37);
}

.profilHead h3 {
    display: inline-block;
    font-weight: bold;
    margin: 1vh;
}
