
.page.page_publication{
  text-align: center;

}

.page_publication .publication{
  height: auto;
  min-height: 30px;
  width: 90%;
  background-color: #b49fdb;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  display: block;
  position: relative;
  text-align: center;
}

.page_publication .publication img{
  width: 90%;
  height: auto;
  margin-top: 35px;
}

.page_publication .publication .cross{
  display: inline-block;
  right: 2%;
  position: absolute;
  background-color: none;
  border: none;
  height: 30px;
  width: 30px;
}

.publication .cross svg{
  border-radius: 10px;
  color : #4c0068;
  height: 100%;
  width: 100%;
}

.page_publication .publication .dessinateur{
  padding: 10px;
  display: block;
  background-color: #e6d9ff;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  min-height: 60px;
  box-sizing: border-box;
  text-align: left;
}

.page_publication .publication .dessinateur a{
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  top: 6px;
  position: relative;
}

.page_publication .follow{
  background-color: inherit;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 6px;
}

.page_publication .follow svg{
  height: 100%;
  width: 100%;
  color : #4c0068;
}
